[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "forestControl"]
	path = forestControl
	url = https://github.com/aberhrml/forestcontrol
[submodule "metaboData"]
	path = metaboData
	url = https://github.com/aberhrml/metabodata
