[submodule ".registry"]
	path = .registry
	url = https://github.com/aberhrml/aberhrml.r-universe.dev
	branch = HEAD
[submodule "assignments"]
	path = assignments
	url = https://github.com/aberHRML/assignments
[submodule "binneR"]
	path = binneR
	url = https://github.com/aberHRML/binneR
[submodule "grover"]
	path = grover
	url = https://github.com/aberHRML/grover
[submodule "meatbolyseR"]
	path = meatbolyseR
	url = https://github.com/aberHRML/metabolyseR
[submodule "msconverteR"]
	path = msconverteR
	url = https://github.com/wilsontom/msconverteR
	registered = false
